<h3>Detalles del usuario</h3>
<div>
    <div class="margin-bottom">
        <label><b>Cedula:</b> {{usuario.cedula}}</label>
    </div>
    <div class="margin-bottom">
        <label><b>Primer Nombre:</b> {{usuario.primernombre}}</label>
    </div>
    <div class="margin-bottom">
        <label><b>Segundo Nombre:</b> {{usuario.segundonombre}}</label>
    </div>
    <div class="margin-bottom">
        <label><b>Primer Apellido:</b> {{usuario.primerapellido}}</label>
    </div>
    <div class="margin-bottom">
        <label><b>Segundo Apellido:</b> {{usuario.segundoapellido}}</label>
    </div>
    <div class="margin-bottom">
        <label><b>Clave:</b> {{usuario.clave}}</label>
    </div>
    <div class="margin-bottom">
        <label><b>Email:</b> {{usuario.email}}</label>
    </div>
    <div class="margin-bottom">
        <label><b>Empresa:</b> {{usuario.nitempresa.nombre}}</label>
    </div>
    <div class="margin-bottom">
        <label><b>Rol:</b> {{usuario.rol.rol}}</label>
    </div>
    <div class="margin-bottom">
        <label><b>Estado</b> {{usuario.estado}}</label>
    </div>
</div>